@charset "utf-8";


*{margin:0; padding:0;}
body, div, ul, dl, dt, dd, ol, p, h1, h2, h4, h5, h6, form, img, span, table, tr, td, select, input, textarea, option{margin:0; padding:0;}


body{font:13px/1.5 '�굹�닎怨좊뵓', NanumGothic, 'Nanum Gothic'; color:#6a6d6f;}

 /* -----湲곕낯 留곹겕�뒪���씪----- */
a:link{color:#6a6d6f; text-decoration:none;}  
a:visited{color:#6a6d6f;  text-decoration:none;}                                    
a:hover{color:#ff4e57; text-decoration:none;}


caption, legend{font-size:0px; width:0px; height:0px; overflow:hidden; position:absolute; visibility:hidden;}

img{border:0px; -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality;}

fieldset,img{border:0; vertical-align:top;}

table{border-collapse:collapse; border-spacing:0; border:0;}

input,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit;}

ul,ol{list-style:none; text-align:center;}


textarea{overflow:auto;} 

button,label{cursor:pointer;}

.input_radio_in1{display:inline; width:13px; height:13px; margin:-5px 2px 0 5px; vertical-align:middle;}

h1{font-size:12px;}
h2{font-size:12px;}
h3{font-size:25px;}
h4{font-size:12px;}
h5{font-size:12px;}
h6{font-size:12px;}

.ml10{margin:-7px 0 0 10px;}

ul > li{
display:inline-block;
position: relative;
color:#fff;
vertical-align:middle;
text-decoration:none;
padding:0;
width:30px;
height:30px;
line-height:30px;
}

.con_tit > .con_title{
	text-align: center;
    font-size: 32px;
    margin: 20px 20px 20px 20px;
}

hr{display:none; clear:both;}

.skip{position:absolute; width:1px; height:1px; border:1px; top:-5000em; overflow:hidden;}
.disno{display:none;}
.hidden{display:none;}

.title dt{
	clear:both;
}
.title .date{
	text-align:right;
	
}


